![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

#Python

##1. Given an integer, n, perform the following conditional actions:

If  is odd, print Weird
If  is even and in the inclusive range of  2 to 5 , print Not Weird
If  is even and in the inclusive range of  6 to 20 , print Weird
If  is even and greater than 20, print Not Weird
--- bold text

In [0]:

input_value = int(input())
if(input_value%2!=0) :
    print("Weird")
else:
    if(input_value>1 and input_value<6):
        print("Not Weird")
    elif(input_value>6 and input_value<21):
        print("Weird")
    else:
        print("Not Weird")

3
Weird

##2. Read two integers from STDIN and print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.

In [0]:

def main():
    print(a+b)
    print(a-b)
    print(a*b)

if __name__ == '__main__':
    a = int(raw_input())
    b = int(raw_input())
    main()

##3. Read two integers and print two lines. The first line should contain integer division,  // . The second line should contain float division,  / .

You don't need to perform any rounding or formatting operations.

In [0]:
from __future__ import division
def main():
    print(a//b)
    print(a/b)
if __name__ == '__main__':
    a = int(raw_input())
    b = int(raw_input())
    main()

##4. Read an integer . For all non-negative integers , print . See the sample for details.

In [0]:

def main():
    for i in range(0,n):
        print(i**2)

if __name__ == '__main__':
    n = int(raw_input())
    main()

0
1
2
3
4

##5. We add a Leap Day on February 29, almost every four years. The leap day is an extra, or intercalary day and we add it to the shortest month of the year, February. 
In the Gregorian calendar three criteria must be taken into account to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.Source

Task 
You are given the year, and you have to write a function to check if the year is leap or not.

Note that you have to complete the function and remaining code is given as template.

In [0]:
def is_leap(year):
    leap = False
    if(year%4==0 and year%400==0 and year%100!=0):
        leap=true
    return leap

year = int(raw_input())
print is_leap(year)

#SQL

##

##1. Query all columns for all American cities in CITY with populations larger than 100000. The CountryCode for America is USA.

Input Format

![alt text](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

In [0]:
select * from CITY where population>100000

##2. Query all columns (attributes) for every row in the CITY table.

In [0]:
Select * from CITY

##3. Query all columns for a city in CITY with the ID 1661.

In [0]:
select * from city where id = 1661

##4. Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

In [0]:
select * from city where COUNTRYCODE = 'jpn'

##5.  Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

In [0]:
select Name from city where COUNTRYCODE ='jpn'

##6. Query a list of CITY and STATE from the STATION table.
![alt text](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

In [0]:
select CITY , STATE from STATION

##7. Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

In [0]:
select city from station where id%2=0 group by city

##8. Let N be the number of CITY entries in STATION, and let  N'' be the number of distinct CITY names in STATION; query the value of N-N''  from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

In [0]:
SELECT COUNT(CITY) - COUNT(DISTINCT CITY) AS N FROM STATION

##9. Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

In [0]:
Select top 1 City,len(City) from Station order by len(City),city   ;
Select top 1 City,len(City) from Station order by len(City) desc,city   ;

##10. Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [0]:
select distinct city from station where city like  '[aeiouAEIOU]%';